.contenedor {
    width: 23%;
    height: 400px;
    background-color: #dedede;
    float: left;
    margin: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.items {
    background: lightblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
}

.c1 .items4{
    align-self: flex-start;
}

.c2 .items4{
    align-self: flex-end;
}

.c3 .items4{
    align-self: center;
}

.c4 .items4{
    align-self: stretch;
}